.aligncenter {
	display: block;
	margin: 0 auto $paragraph-margin-bottom;

	img {
		width: 100%;
		height: auto;
	}

	@include media-breakpoint-up(sm) {
		width: auto;
	}
}

.alignright {
	@extend .aligncenter;

	@include media-breakpoint-up(sm) {
		float: right;
		margin: 0 0 $paragraph-margin-bottom $paragraph-margin-bottom;
	}
}

.alignleft {
	@extend .aligncenter;

	@include media-breakpoint-up(sm) {
		float: left;
		margin: 0 $paragraph-margin-bottom $paragraph-margin-bottom 0;
	}
}

.wp-caption-text {
	font-size: $font-size-sm;
}

.screen-reader-text {
	@extend .sr-only;
}
